---
http_interactions:
- request:
    method: get
    uri: http://samples.openweathermap.org/data/2.5/weather?appid={appid}&q=London,uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e70c27085ed41de5321252b16c9582fe"
    body:
      encoding: ASCII-8BIT
      string: '{"coord":{"lon":-0.13,"lat":51.51},"weather":[{"id":300,"main":"Drizzle","description":"light
        intensity drizzle","icon":"09d"}],"base":"stations","main":{"temp":280.32,"pressure":1012,"humidity":81,"temp_min":279.15,"temp_max":281.15},"visibility":10000,"wind":{"speed":4.1,"deg":80},"clouds":{"all":90},"dt":1485789600,"sys":{"type":1,"id":5091,"message":0.0103,"country":"GB","sunrise":1485762037,"sunset":1485794875},"id":2643743,"name":"London","cod":200}'
  recorded_at: Tue, 24 Apr 2018 05:11:41 GMT
recorded_with: VCR 4.0.0
